<!DOCTYPE html>
<html lang="en-US">
<head>
<meta charset="UTF-8">
<title>Bootstrap Login</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body ng-app="myapp">
    
<div class="container vh-100 d-flex justify-content-center align-items-center" ng-controller="ctrl">
  <div class="card p-4 shadow" style="width: 100%; max-width: 350px;">
    <h3 class="text-center mb-3">Login</h3>
    <form >
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" ng-model="email" class="form-control" id="email" placeholder="Enter email" required>
      </div>
      
      <div class="mb-3">
        <label class="form-label">Password</label>
        <input type="password" ng-model="password" class="form-control" id="password" placeholder="Enter password" required>
      </div>
      <button ng-disabled="!email || !password" ng-click="login()" type="submit" class="btn btn-primary w-100">Login</button>
    </form>
    
    <div class="text-center mt-3 text-success" ng-show="loginSuccess" >{{loginSuccess}}</div>
    <div class="text-center mt-3 text-danger" ng-show="loginError" >{{loginError}}</div>
  </div>
</div>

<script>
var app = angular.module('myapp', []);
app.controller('ctrl', function($scope) {
    
    $scope.login = function() {
                $scope.loginSuccess = "";
                $scope.loginError = "";
        if ($scope.email && $scope.password) {
            if ($scope.email === 'makrinaemad51@gmail.com' && $scope.password === '123') {
                $scope.loginSuccess = "Login Successful! Welcome " + $scope.email;
            } else {
                $scope.loginError = "Invalid Email or Password!";
            }
        }
    };
});
</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>